# Python Virtual Environment
.venv/
venv/
env/

# PyCharm
.idea/
*.iml

# Python cache
__pycache__/
*.py[cod]
*$py.class
*.so

# Builds
build/
dist/
*.egg-info/

# Test
.pytest_cache/
.coverage
htmlcov/

# OS
.DS_Store
Thumbs.db
desktop.ini

# Local Files
*.log
.env
.vscode/